@font-face{font-family:'IBM Plex Mono';font-style:normal;font-weight:400;font-display:block;src:url('FONTDIR/IBMPlexMono-400.woff2') format('woff2');}
@font-face{font-family:'IBM Plex Mono';font-style:normal;font-weight:500;font-display:block;src:url('FONTDIR/IBMPlexMono-500.woff2') format('woff2');}
@font-face{font-family:'Instrument Serif';font-style:italic;font-weight:400;font-display:block;src:url('FONTDIR/InstrumentSerif-400-italic.woff2') format('woff2');}
@font-face{font-family:'Instrument Serif';font-style:normal;font-weight:400;font-display:block;src:url('FONTDIR/InstrumentSerif-400.woff2') format('woff2');}
@font-face{font-family:'Schibsted Grotesk';font-style:normal;font-weight:400;font-display:block;src:url('FONTDIR/SchibstedGrotesk-400.woff2') format('woff2');}
@font-face{font-family:'Schibsted Grotesk';font-style:normal;font-weight:500;font-display:block;src:url('FONTDIR/SchibstedGrotesk-500.woff2') format('woff2');}
@font-face{font-family:'Schibsted Grotesk';font-style:normal;font-weight:700;font-display:block;src:url('FONTDIR/SchibstedGrotesk-700.woff2') format('woff2');}
